 img {
    width: 800px;
    border-radius: 600px
}
body {
    text-align: center;
    font-family: "times new roman";
}
  body {
    background-color: lightblue;
}
h1 {
    color: black;
    text-align: center;
    font-size: 70px
}
p {
    font-family: Georgia;
    font-size: 50px;
    color: green;
}
#description, tr {
    font-size: 20px;
    text-align: center;
    color: #ff9933;
    font: cursive;
}