 img {
    width: 800px;
    border-radius: 600px
}
  body {
    text-align: center;
}
body {
    text-align: center;
    font-family: "times new roman";
}
  body {
    background-color: lightblue;
}
h1 {
    color: black;
    text-align: center;
    font-size: 60px
}
p {
    font-family: Georgia;
    font-size: 40px;
}